/.idea/.idea.ProjectManagement/.idea/.gitignore
/Api/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Application/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Domain/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Infrastructure/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Test/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Api/obj/Debug/net9.0/Api.AssemblyInfoInputs.cache
/Api/obj/Debug/net9.0/Api.assets.cache
/Api/obj/Debug/net9.0/Api.csproj.AssemblyReference.cache
/Api/obj/Api.csproj.nuget.dgspec.json
/Application/obj/Debug/net9.0/Application.AssemblyInfoInputs.cache
/Application/obj/Debug/net9.0/Application.assets.cache
/Application/obj/Debug/net9.0/Application.csproj.AssemblyReference.cache
/Application/obj/Application.csproj.nuget.dgspec.json
/Domain/obj/Debug/net9.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Debug/net9.0/Domain.assets.cache
/Domain/obj/Debug/net9.0/Domain.csproj.AssemblyReference.cache
/Domain/obj/Domain.csproj.nuget.dgspec.json
/.idea/.idea.ProjectManagement/.idea/indexLayout.xml
/Infrastructure/obj/Debug/net9.0/Infrastructure.AssemblyInfoInputs.cache
/Infrastructure/obj/Debug/net9.0/Infrastructure.assets.cache
/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/Api/obj/project.assets.json
/Application/obj/project.assets.json
/Domain/obj/project.assets.json
/Infrastructure/obj/project.assets.json
/Test/obj/project.assets.json
/Api/obj/project.nuget.cache
/Application/obj/project.nuget.cache
/Domain/obj/project.nuget.cache
/Infrastructure/obj/project.nuget.cache
/Test/obj/project.nuget.cache
/Api/obj/project.packagespec.json
/Application/obj/project.packagespec.json
/Domain/obj/project.packagespec.json
/Infrastructure/obj/project.packagespec.json
/Test/obj/project.packagespec.json
/Api/obj/rider.project.model.nuget.info
/Application/obj/rider.project.model.nuget.info
/Domain/obj/rider.project.model.nuget.info
/Infrastructure/obj/rider.project.model.nuget.info
/Test/obj/rider.project.model.nuget.info
/Api/obj/rider.project.restore.info
/Application/obj/rider.project.restore.info
/Domain/obj/rider.project.restore.info
/Infrastructure/obj/rider.project.restore.info
/Test/obj/rider.project.restore.info
/Test/obj/Debug/net9.0/Test.AssemblyInfoInputs.cache
/Test/obj/Debug/net9.0/Test.assets.cache
/Test/obj/Debug/net9.0/Test.csproj.AssemblyReference.cache
/Test/obj/Test.csproj.nuget.dgspec.json
