# --------------------------------------------------------------------------
# .NET Core / ASP.NET Core
# --------------------------------------------------------------------------

# Бинарные файлы сборки
[Bb]in/
[Oo]bj/
# Артефакты сборки
*.log
*.pdb
*.suo
*.user
*.userosscache
*.usersecrets
*.vspscc
*.vssscc
*.sqlite
*.db

# Файлы пакетов NuGet
.nuget/
**/[Pp]ackages/

# Тестовые результаты
TestResults/

# Entity Framework Core migrations history
# Обычно находится в Infrastructure/Persistence/Migrations, но лучше исключить сам файл
ef_history.txt

# --------------------------------------------------------------------------
# IDE (Visual Studio / JetBrains Rider)
# --------------------------------------------------------------------------

# Visual Studio
.vs/
*.vsp
*.vsn
*.ncb
*.bak
*.cache

# JetBrains Rider / IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr